@model IEnumerable<ControleDespesas.Models.Despesa>

<h2 class="mb-4 fw-bold">💜 Controle de Despesas</h2>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="card p-3 shadow">
            <h6>Total gasto</h6>
            <h3 class="text-success">R$ @ViewBag.Total</h3>
        </div>
    </div>
</div>

<div class="card p-3 shadow">

    <div class="d-flex justify-content-between mb-3">
        <h5>Minhas despesas</h5>
        <a class="btn btn-success" asp-action="Create">+ Nova</a>
    </div>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td class="fw-bold text-success">R$ @item.Valor</td>
                    <td>@item.Data.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">✏️</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">🗑️</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>